@import url(assets/images/icon/icon.css);
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
label {
  display: block;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  box-sizing: border-box;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
  display: inline-block;
  text-decoration: none;
  font: inherit;
}
button {
  cursor: pointer;
  position: relative;
}
input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  font: inherit;
}
img {
  max-width: 100%;
  max-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  font-family: "Inter", sans-serif;
  background: #121417;
}
.G-flex {
  display: flex;
}
.G-inline-flex {
  display: inline-flex;
}
.G-center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.G-column-center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.G-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.G-justify-center {
  justify-content: center;
  display: flex;
}
.G-justify-between {
  justify-content: space-between;
  display: flex;
}
.G-justify-around {
  justify-content: space-around;
  display: flex;
}
.G-justify-end {
  justify-content: flex-end;
  display: flex;
}
.G-justify-start {
  justify-content: flex-start;
  display: flex;
}
.G-align-center {
  align-items: center;
  display: flex;
}
.G-align-start {
  align-items: flex-start;
  display: flex;
}
.G-align-end {
  align-items: flex-end;
  display: flex;
}
.G-flex-column {
  flex-direction: column;
  display: flex;
}
.G-flex-wrap {
  flex-wrap: wrap;
  display: flex;
}
/* GENERAL STYLE */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1188px;
  width: 100%;
  padding: 0 14px;
  margin: 0 auto;
}
.container-big {
  max-width: 1248px;
  width: 100%;
  padding: 0 14px;
  margin: 0 auto;
}
.text-wrap {
  display: block;
}
.desktop-text-wrap {
  display: block;
}
.mobile-block {
  display: none;
}
.black-btn {
  gap: 12px;
  padding: 4px 23px 4px 7px;
  border-radius: 6px;
  display: flex;
  height: 52px;
  background: #242528;
  align-items: center;
  transition: 0.4s;
}
.black-btn:hover {
  background: #2d2e31;
}
.black-btn:hover .black-btn-bg {
  background: #454649;
}
.black-btn:hover .black-btn-bg i {
  background: #dce8ff;
}
.black-btn:hover .black-btn-text {
  color: #dce8ff;
}
.black-btn-bg {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 4px;
  background: #ffffff0a;
  transition: 0.4s;
}
.icon-stars {
  font-size: 22px;
  background: #dce8ff;
  transition: 0.4s;
}
.black-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #dce8ff;
  transition: 0.4s;
}
.menu-list-link {
  transition: 0.4s;
}
.menu-list-link:hover {
  opacity: 0.7;
}
.white-btn {
  gap: 12px;
  padding: 4px 23px 4px 7px;
  border-radius: 6px;
  display: flex;
  height: 52px;
  background: #dce8ff;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.white-btn-bg {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 4px;
  transition: 0.4s;

  background: #ffffff80;
}
.white-btn .icon-stars {
  font-size: 20px;
  background: #121417;
  transition: 0.4s;
}
.white-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #121417;
  transition: 0.4s;
}
.white-btn:hover {
  background: #2d2e31;
}
.white-btn:hover .white-btn-bg {
  background: #454649;
}
.white-btn:hover .icon-stars {
  background: #dce8ff;
}
.white-btn:hover .white-btn-text {
  color: #dce8ff;
}
.white-btn-check {
  gap: 12px;
  padding: 11px;
  border-radius: 6px;
  height: 40px;
  background: #dce8ff;
  align-items: center;
  width: 100%;
  justify-content: center;
  max-width: 288px;
}
.icon-check {
  background: #1b1c1f;
  font-size: 15px;
}
.white-check-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #1b1c1f;
}

.section {
  margin-top: 160px;
}
.section-titles h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #fafdff;
}
.section-titles p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fafdff;
  margin-top: 12px;
  opacity: 0.6;
}
.block-cnt {
  margin-top: 40px;
}
.block-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #fafdff;
}
.block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fafdff;
  opacity: 0.6;
  margin-top: 4px;
}
.fade-left,
.fade-right,
.fade-top,
.fade-bottom {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, opacity;
}
.fade-left {
  transform: translateX(-60px);
}
.fade-right {
  transform: translateX(60px);
}
.fade-top {
  transform: translateY(-60px);
}
.fade-bottom {
  transform: translateY(60px);
}
.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* HEADER STYLE */
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 10px;
  z-index: 10;
  transition: 0.4s;
}
.header.muved {
  top: 5px;
}

.header-body {
  justify-content: space-between;
  align-items: center;
  background: #1b1c1f;
  border-radius: 12px;
  padding: 10px;
  background: #1b1c1f;
  z-index: 2;
  position: relative;
}
.header-logo {
  margin-left: 8px;
}
.header-body::after {
  content: "";
  backdrop-filter: blur(16px);
  --webkit-filter: blur(16px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 12px;
}
.header-actions {
  gap: 12px;
}
.btn-login {
  gap: 8px;
  padding: 4px 20px 4px 4px;
  background: #242528;
  border-radius: 6px;
  height: 44px;
  transition: 0.4s;
}
.login-btn-bg {
  width: 36px;
  height: 36px;
  flex: 0 0 36px;
  border-radius: 4px;
  background: #2d2e30;
  transition: 0.4s;
}
.icon-person {
  font-size: 15px;
  background: #dce8ff;
  transition: 0.4s;
}
.login-btn-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #dce8ff;
  transition: 0.4s;
}
.btn-login:hover {
  background: #2d2e31;
}
.btn-login:hover .login-btn-bg {
  background: #454649;
}
.btn-login:hover .login-btn-bg i {
  background: #dce8ff;
}
.btn-login:hover .login-btn-text {
  color: #dce8ff;
}
.btn-register {
  gap: 8px;
  padding: 4px 20px 4px 4px;
  background: #dce8ff;
  border-radius: 6px;
  height: 44px;
  transition: 0.4s;
}
.register-btn-bg {
  width: 36px;
  height: 36px;
  flex: 0 0 36px;
  border-radius: 4px;
  background: #ffffff80;
  transition: 0.4s;
}
.icon-person-edit {
  font-size: 16px;
  background: #121417;
  transition: 0.4s;
}
.register-btn-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #121417;
  transition: 0.4s;
}
.btn-register:hover {
  background: #2d2e31;
}
.btn-register:hover .register-btn-bg {
  background: #454649;
}
.btn-register:hover .register-btn-bg i {
  background: #dce8ff;
}
.btn-register:hover .register-btn-text {
  color: #dce8ff;
}
.menu ul {
  gap: 30px;
  display: flex;
  align-items: center;
}
.menu ul li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #dce8ff;
}
.burger-bg {
  display: none;
}
.menu-mobile-actions {
  display: none;
}
.menu-bg {
  display: none;
}
.hero-section {
  position: relative;
  padding: 120px 0 0;
  overflow: hidden;
  z-index: 2;
  min-height: 755px;
}
.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.hero-bg img {
  width: 100%;
}
.hero-bg picture {
  width: 100%;
}
.hero-media {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.hero-media picture {
  width: 100%;
}
.hero-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-ipad {
  max-width: 900px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 900px;
}

.hero-ipad-tag {
  gap: 10px;
  position: absolute;
  z-index: 2;
  background: #26272880;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  --webkit-filter: blur(10px);
  overflow: hidden;
  padding: 20px;
}
.hero-ipad-tag::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(161, 216, 238, 0.15) 0%,
    rgba(92, 124, 136, 0.25) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.hero-ipad-tag span {
  width: 8px;
  height: 8px;
  background: #dce8ff;
  display: block;
  flex: 0 0 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 18px 3px #dce8ff66;
}
.hero-ipad-tag p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #fafdff;
}
.hero-tag--one {
  top: 49px;
  right: 177px;
}
.hero-tag--two {
  top: 133px;
  left: 75px;
}
.hero-tag--tree {
  top: 193px;
  right: 57px;
}
.hero-tag--for {
  bottom: 80px;
  left: 198px;
  padding: 10px 20px;
}
.hero-tag--for p {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
}
.hero-ipad img {
  border-radius: 20px 20px 0 0;
}
.hero-overlay {
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: 0;
  width: 100%;
}
.hero-overlay img {
  width: 100%;
  height: 161px;
}
.hero-body {
  position: relative;
  z-index: 3;
}
.hero-titles {
  position: relative;
  z-index: 3;
  margin: 0 auto;
}

.hero-titles h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.hero-titles p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  opacity: 0.6;
}
.hero-btn {
  margin: 20px auto 0;
  max-width: max-content;
}

.about-section {
  margin-top: 80px;
}
.about-items {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.about-cart {
  background: #202123;
  padding: 20px;
  flex: 1 1 32%;
  border-radius: 16px;
}
.about-big-cart {
  flex: 1 1 32%;
  min-height: 312px;
  border: 4px solid #dce8ff;
  border-radius: 16px;
  padding: 40px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #1b1c1f;
}
.about-cart-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.about-cart-bg img {
  width: 100%;
  height: 100%;
}
.about-cart-bg picture {
  width: 100%;
  height: 100%;
}
.big-cart-info {
  margin-top: auto;
}
.about-btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.big-cart-info h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #fafdff;
}

.about-cart-img {
  box-shadow: 0px 0px 20px 0px #a1d8ee40;
  max-width: 48px;
  width: 100%;
}
.about-cart-info {
  margin-top: 20px;
}
.about-cart-icon img {
  max-width: 24px;
  width: 100%;
}
.about-cart-icon {
  width: 48px;
  height: 48px;
  border: 1px solid #dce8ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px #a1d8ee40;
}

.how-work-items {
  display: flex;
  gap: 20px;
}
.work-item-cart {
  background: #1b1c1f;
  max-width: 275px;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 16px;
  padding: 20px;
  height: max-content;
}
.work-cart-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.work-cart-bg img {
  width: 100%;
  height: 100%;
}
.work-cart-bg picture {
  width: 100%;
  height: 100%;
}
.work-item-cart:nth-child(1) {
  min-height: 225px;
  margin-top: auto;
}
.work-item-cart:nth-child(2) {
  min-height: 276px;
  margin-top: auto;
}
.work-item-cart:nth-child(3) {
  min-height: 312px;
  margin-top: auto;
}
.work-item-cart:nth-child(4) {
  min-height: 352px;
  margin-top: auto;
}
.work-cart-info {
  margin-top: auto;
}
.work-cart-info h3 {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  color: #fafdff;
}
.possibilities-column {
  display: flex;
  gap: 20px;
}
.possibilities-small-item {
  padding: 20px;
  background: #1b1c1f;
  border: 1px solid rgba(102, 102, 102, 0.25);
  max-width: 275px;
  width: 100%;
  min-height: 280px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.possibilities-small-item .block-title {
  font-size: 18px;
  line-height: 120%;
}
.possibilities-big-item {
  min-height: 280px;
  background: #1b1c1f;
  border: 1px solid rgba(102, 102, 102, 0.25);
  max-width: 570px;
  min-width: 570px;
  width: 100%;
  border-radius: 16px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.possibilities-small-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(102, 102, 102, 0.5),
    rgba(102, 102, 102, 0.25)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.possibilities-big-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(102, 102, 102, 0.5),
    rgba(102, 102, 102, 0.25)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.anmiation-item-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.anmiation-item-bg img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.anmiation-item--one::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  box-shadow: 0px 0px 20px 0px #adc9ff;
  background: #adc9ff;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 0;
  opacity: 0.2;
  transition: opacity 0.4s ease;
}
.anmiation-item--one.active::after {
  opacity: 1;
}

.anmiation-small-img {
  max-width: 138px;
  position: absolute;
  width: 100%;
  left: 93px;
  top: 71px;
  z-index: 2;
}
.anmiation-small-img .high-quality {
  display: none;
}
.anmiation-mouse {
  max-width: 138px;
  position: absolute;
  width: 100%;
  left: 213px;
  top: 177px;
  z-index: 2;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.45s ease, top 0.45s ease, opacity 0.45s ease;
}

.anmiation-img {
  max-width: 385px;
  position: absolute;
  width: 100%;
  left: 93px;
  top: 20px;
  z-index: 2;
  height: 240px;
}
.anmiation-img::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 120%;
  box-shadow: 0px 0px 20px 0px #adc9ff;
  background: #adc9ff;
  left: 0;
  top: -20px;
  opacity: 0.2;
  transition: all 2s ease-in-out;
  z-index: 3;
}
.anmiation-img .low-quality {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.anmiation-img .high-quality {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 2s ease-in-out;
}
.anmiation-item--two.active .anmiation-img::after {
  left: 100%;
  opacity: 1;
}

.anmiation-item--two.active .high-quality {
  clip-path: inset(0 0 0 0);
}

.anmiation-mouse.click {
  transform: scale(1.3);
  top: 190px;
  opacity: 0;
}

.anmiation-mouse.reset {
  transform: scale(1);
  top: 177px;
  opacity: 1;
}

.anmiation-another-img {
  max-width: 178px;
  position: absolute;
  width: 100%;
  left: 93px;
  top: 20px;
  z-index: 2;
  height: 120px;
  transition: all 1.8s ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.anmiation-mouse--two {
  max-width: 40px;
  position: absolute;
  width: 100%;
  left: 243px;
  top: 117px;
  z-index: 2;

  transform-origin: center center;
  transition: transform 0.4s ease-in-out, opacity 1s ease-in-out,
    top 1s ease-in-out;
}

.anmiation-item--tree {
  position: relative;
  overflow: hidden;
}

.anmiation-another-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 36px;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  will-change: opacity, transform;
  backface-visibility: hidden;
}

.anmiation-another-img .high-quality {
  opacity: 0;
  transform: scale(1.001);
}

.anmiation-item--tree.active .anmiation-another-img {
  max-width: 385px;
  height: 240px;
  left: 93px;
  top: 20px;
}

.anmiation-item--tree.active .anmiation-another-img .low-quality {
  opacity: 0;
}

.anmiation-item--tree.active .anmiation-another-img .high-quality {
  opacity: 1;
}

.anmiation-item--tree.active .anmiation-mouse--two {
  transform: scale(1.1);
  top: 200px;
  opacity: 0;
}

.possibilities-cnt {
  gap: 20px;
}
.possibilities-column:nth-child(2) {
  margin-left: auto;
}
.possibilities-column:nth-child(3) {
  margin-left: auto;
}

.reviews-section {
  position: relative;
  z-index: 4;
}
.reviews-swiper {
  max-height: 488px;
  max-width: 794px;
  width: 100%;
  position: relative;
}
.reviews-swiper::after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  height: 180px;
  width: 1000px;
  background-image: url("assets/images/blur.png");
  z-index: 2;
}
.reviews-swiper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 180px;
  width: 1000px;
  background-image: url("assets/images/blur2.png");
  z-index: 2;
}
.reviews-left-item {
  max-width: 386px;
  width: 100%;
  height: max-content;
  position: relative;
  min-height: 488px;
  border-radius: 20px;
  background: #1b1c1f;
  box-shadow: 0px 0px 16px 0px #00000029;
  border: 1px solid #c2ccf61f;
  overflow: hidden;
}
.reviews-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  background: linear-gradient(
    105.61deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  box-shadow: 0px 0px 16px 0px rgba(99, 86, 254, 0.08);
  transition: 0.3s;
}
.reviews-left-info {
  padding: 20px 20px 25px 20px;
}
.reviews-author h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fafdff;
}
.reviews-author p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  color: #fafdff;

  opacity: 0.6;
}
.reviews-box {
  width: 100%;
  gap: 10px;
}
.reviews-left-img img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  height: auto;
}
.reviews-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fafdff;
  opacity: 0.8;
  margin-top: 10px;
}
.reviews-item-img {
  flex: 0 0 124px;
  height: 124px;
}
.face-reviews-item {
  gap: 24px;
  background: #1b1c1f;
  border: 1px solid #c2ccf61f;
  box-shadow: 0px 0px 16px 0px #00000029;
  border-radius: 16px;
  padding: 16px;
}
.face-reviews-left-img img {
  object-fit: cover;
  border-radius: 12px;
}
.reviews-item-img img {
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.reviews-pagination {
  display: none;
}
.reviews-mobile-item {
  display: none !important;
}
.faq-items {
  gap: 10px;
}
.faq-item {
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #0000001f;

  padding: 10px 10px 10px 16px;
  cursor: pointer;
  background: #262728;
}
.faq-section {
  margin-top: 83px;
}
.faq-item-header {
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.faq-item-header.open i {
  transform: rotate(180deg);
}
.faq-item-header h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fafdff;
}
.faq-item-icon {
  width: 40px;
  height: 40px;
  background: #262728;
  box-shadow: 0px 0px 12px 0px #0000001f;

  flex: 0 0 40px;
  border-radius: 6px;
}
.icon-arrow {
  font-size: 10px;
  background: #fafdff;
  transition: 0.4s;
}
.faq-sub-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.6;
}
.submenu {
  display: none;
}
footer {
  margin-top: 80px;
}
.footer-body {
  padding: 53px 0 80px 0;
  position: relative;
  z-index: 3;
}
.footer-blur {
  position: absolute;
  left: 0;
  top: 0;
}
.footer-blur img {
  height: 700px;
}
.footer-logo {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.footer-logo img {
  max-width: 705px;
  width: 100%;
  height: auto;
}
.footer-cnt {
  margin-top: 33px;
  position: relative;
  z-index: 2;
  min-height: 316px;
  background: #121316;
  border: 1px solid #c2ccf61f;
  border-radius: 16px;
  padding: 53px 36px;
  overflow: hidden;
}
.footer-grid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.footer-grid picture {
  width: 100%;
  height: 100%;
}
.footer-grid img {
  width: 100%;
  height: 100%;
}
.footer-btn {
  margin: 0 auto;
  max-width: max-content;
}
.footer-menu {
  margin: 105px auto 0;
}
.footer-menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-menu ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #fafdff;
}
.footer-policy {
  margin: 12px auto 0;
}
.footer-policy ul {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.footer-policy ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fafdff;
  opacity: 0.6;
  transition: 0.4s;
}
.footer-policy ul li a:hover {
  opacity: 0.9;
}
.footer-text {
  margin: 5px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fafdff;
  text-align: center;
  opacity: 0.6;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .how-work-items {
    overflow: auto;
  }
  .work-item-cart {
    min-width: 275px;
  }
}

@media (max-width: 992px) {
  .hero-tag--for {
    display: none;
  }
  .reviews-pagination {
    display: flex;
    position: initial !important;
    margin-top: 11px;
    align-items: center;
    justify-content: center;
    gap: 8px !important;
  }
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    background: #fafdff !important;
    opacity: 0.2 !important;
    margin: 0 !important;
    border-radius: 50% !important;
  }
  .swiper-pagination-bullet-active {
    width: 8px !important;
    height: 8px !important;
    background: #dce8ff !important;
    opacity: 1 !important;
    border-radius: 50% !important;
  }
  .reviews-swiper {
    overflow: unset !important;
  }
  .reviews-mobile-item {
    display: block !important;
  }
  .reviews-left-item {
    display: none;
  }
  .reviews-swiper::after {
    display: none;
  }
  .reviews-swiper::before {
    display: none;
  }
  .reviews-item {
    flex-direction: column;
    min-height: 452px;
    padding: 0;
    gap: 0;
  }
  .face-reviews-item {
    flex-direction: column;
    min-height: 392px;
    padding: 0;
    gap: 0;
  }
  .reviews-swiper {
    max-width: 100%;
    max-height: 100%;
  }
  .reviews-author h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .reviews-author p {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  .reviews-icon {
    width: 28px;
    height: 28px;
  }
  .reviews-item-info {
    padding: 20px;
  }
  .reviews-item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .reviews-item-img {
    height: 240px;
  }
  .face-reviews-left-img img {
    width: 100%;
    height: 240px;
  }

  .burger-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #12131687;
    width: 44px;
    height: 44px;
    flex: 0 0 44px;
    border-radius: 6px;
  }
  .burger {
    width: 21px;
    gap: 3.5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 4;
  }
  .burger span {
    width: 16px;
    display: block;
    height: 2px;
    background: #dce8ff;
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
  }
  .burger span::after {
    width: 2px;
    content: "";
    display: block;
    height: 2px;
    transition: 0.3s;
    background: #dce8ff;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 0;
  }
  .burger::after {
    width: 100%;
    content: "";
    display: block;
    height: 2px;
    background: #dce8ff;
    transition: 0.3s;
    border-radius: 5px;
  }
  .burger::before {
    width: 100%;
    content: "";
    display: block;
    height: 2px;
    background: #dce8ff;
    transition: 0.3s;
    border-radius: 5px;
  }
  .burger.active span {
    opacity: 0;
    visibility: hidden;
  }
  .burger.active::before {
    transform: rotate(-45deg);
    top: 6px;
    position: relative;
  }
  .burger.active::after {
    transform: rotate(45deg);
    bottom: 5px;
    position: relative;
  }
  .menu {
    position: fixed;
    left: 0;
    width: 100%;
    top: -100%;
    transition: 0.5s;
    z-index: 1;
  }
  .menu-bg {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: -100%;
    z-index: -1;
    display: flex;
    transition: 0.5s;
  }
  .menu.active {
    top: 78px;
  }
  .menu-bg.active {
    top: 0;
  }
  .menu-wrapper {
    margin: 0 14px 0 14px;
    padding: 22px 20px 20px 20px;
    background: #1b1c1f;
    box-shadow: 0px 0px 12px 0px #0000001f;
    border-radius: 10px;
    max-height: 70vh;
    overflow: auto;
  }
  .menu ul {
    flex-direction: column;
    gap: 38px;
  }

  .hero-ipad {
    min-width: 700px;
  }
  .about-btn {
    position: initial;
    max-width: max-content;
    margin-top: 20px;
  }
  .possibilities-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .possibilities-column:nth-child(2) {
    flex-direction: column-reverse;
    margin-left: unset;
  }
  .possibilities-column:nth-child(3) {
    margin-left: unset;
  }
}

@media (max-width: 768px) {
  .desktop-text-wrap {
    display: inline;
  }
  .possibilities-big-item {
    min-width: unset;
  }
  .desktop-block {
    display: none;
  }

  .mobile-block {
    display: flex;
  }
  .hero-section {
    padding: 100px 0 0;
  }

  .hero-section {
    min-height: 556px;
  }
  .hero-ipad {
    min-width: 500px;
  }
  .hero-tag--two {
    display: none;
  }
  .hero-tag--tree {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero-titles h1 {
    font-size: 28px;
    line-height: 120%;
    font-weight: 500;
  }
  .hero-tag--one {
    display: none;
  }
  .hero-titles p {
    font-size: 12px;
    line-height: 16px;
  }
  .mobile-text-wrap {
    display: block;
  }
  .header-actions a {
    display: none;
  }
  .header-logo {
    margin-left: unset;
  }
  .header-logo img {
    width: 44px;
    height: 44px;
    display: flex;
  }
  .header-body {
    padding: 5px;
    border-radius: 8px;
  }
  header {
    top: 14px;
  }
  .menu-mobile-actions {
    display: flex;
    gap: 15px;
    margin-top: 150px;
    gap: 15px;
    justify-content: center;
  }
  .section {
    margin-top: 80px;
  }
  .section-titles h2 {
    font-size: 24px;
    line-height: 110%;
    font-weight: 500;
  }
  .section-titles p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
  }

  .block-title {
    font-size: 18px;
    line-height: 120%;
  }

  .block-text {
    font-size: 16px;
    line-height: 22px;
  }

  .faq-section {
    margin-top: 97px;
  }
  .faq-item-icon {
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
  }
  .faq-item-header h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }
  .faq-sub-text {
    font-size: 14px;
    line-height: 20px;
  }
  footer .container {
    padding: 0;
  }
  .footer-cnt {
    margin: 22px 14px 0 14px;
  }
  .footer-logo {
    padding: 0 14px;
    max-width: 280px;
  }
  .footer-body {
    padding: 20px 0 80px 0;
  }
  .footer-menu ul {
    max-width: 263px;
    margin: 0 auto;
    gap: 15px;
  }
  .footer-menu {
    margin: 24px auto 0;
  }
  .footer-menu ul li a {
    font-size: 14px;
    line-height: 18px;
  }
  .footer-policy {
    margin: 15px auto 0;
  }
  .footer-policy ul {
    flex-direction: column;
    gap: 10px;
  }
  .footer-text {
    margin: 10px auto 0;
    font-size: 12px;
    line-height: 16px;
  }
  .footer-cnt {
    margin-top: 22px;
    min-height: 292px;
    padding: 42px 40px;
  }
  .footer-policy ul li a {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-blur {
    top: -100px;
  }
  .footer-blur img {
    height: 600px;
  }
  .faq-item-header h3 {
    max-width: 264px;
  }
  .reviews-swiper .swiper-slide {
    padding: 0 12px;
  }
  .reviews-section .container {
    padding: 0;
  }

  .section-titles p {
    font-size: 14px;
    line-height: 22px;
  }
  .hero-ipad {
    min-width: 400px;
  }
  .hero-section {
    min-height: 520px;
  }
  .hero-overlay img {
    height: 59px;
  }
  .hero-overlay {
    bottom: -5px;
  }

  .big-cart-info h3 {
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
  }
  .about-cart {
    flex: 1 1 50%;
  }
  .about-big-cart {
    flex: 1 1 50%;
  }
  .about-big-cart {
    min-height: 401px;
    padding: 20px;
  }
  .how-work-items {
    overflow: unset;
    flex-direction: column;
  }
  .work-item-cart {
    max-width: 100%;
  }
  .work-cart-info h3 {
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
  }

  .work-item-cart:nth-child(1) {
    min-height: 179px;
  }
  .work-item-cart:nth-child(2) {
    min-height: 179px;
  }
  .work-item-cart:nth-child(3) {
    min-height: 179px;
  }
  .work-item-cart:nth-child(4) {
    min-height: 179px;
  }

  .possibilities-small-item {
    min-height: 138px;
    max-width: 100%;
  }
  .anmiation-small-img {
    left: 15px;
  }
  .anmiation-mouse {
    max-width: 24px;
    left: 131px;
    top: 189px;
    height: 36px;
  }
  .anmiation-img {
    left: 14px;
  }
  .anmiation-item--two::after {
    left: 10px;
  }
  .anmiation-mouse--two {
    max-width: 24px;
    height: 36px;
  left: 143px;
    
  }
  .anmiation-img {
    position: relative;
    left: unset;
    top: unset;
    max-width: 100%;
  }
  .anmiation-img img {
    width: 100%;
  }
  .anmiation-item--two {
    padding: 20px 14px;
  }
  .anmiation-img img {
    object-fit: cover;
    border-radius: 36px;
  }
  .anmiation-another-img {
    top: 14px;
    left: 14px;
  }

  .anmiation-item--tree.active .anmiation-another-img {
    max-width: 304px;
    height: 252px;
    left: 14px;
    top: 14px;
  }
}

@media (max-width: 500px) {
}

@media (max-width: 410px) {
  .hero-ipad {
    min-width: 350px;
  }
}
